<h1 class >All Articles</h1>
<div class = "body">
  <ul id="articles">
    <% @articles.each do |article| %>
      <li class= "li-article">
        <%= link_to article.title, article_path(article), class: 'article_title',
        id: "article_#{article.id}"%>
      </li>
    <% end %>
  </ul>
  <div class = "button_article">
    <% if logged_in? %>
      <%= link_to 'Create a new Article', new_article_path, class: "btn btn-default"%>
    <% end %>
  </div>
</div>
