<div class = "show-body-author">
  <div class = "body">
    <p>
      <strong>Username:</strong>
      <%= @author.username %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @author.email %>
    </p>

    <%= link_to 'Edit', edit_author_path(@author), class: "btn btn-danger"%>
    <%= link_to 'Back', authors_path, class: "btn btn-danger"%>
  </div>
</div>
