<h1>All Tags</h1>
<div class = "body">
  <ul id="tags">
    <% @tags.each do |tag| %>
      <li class= "li-article"><%= link_to tag.name, tag_path(tag), class: 'article_title' %> </li>
    <% end %>
  </ul>
</div>
